{
    "serviceType":"$!serviceType",
    "interfaceId":"$!interfaceId",
    "pspIdentificationNumber":"100011",
    "RqUID":"$!interopReferenceId",
    "UserId":"BMCE",
    "RequestDate":"$!RequestDate",
    "UserLanguage":"$!UserLanguage",
    "FinancialInstitution":"000011",
    "ProviderLogin":"BMCE",
    "ProviderPasswd":"5ccaef0e2fbb96bbe3892d5f6d77bc331a28ff62d184cbbaeecae2f3b630d152c6089d5c7621cfc9c8849094f0167bb8e19502f6ac8a938929daf8e8e0bfc30d",
    "pan":"$!pan",
    "processingCode":"$!processingCode",
    "transactionAmount":"$!transactionAmount",
    "consolidationAmount":"$!consolidationAmount",
    "cardholderBillAmount":"$!cardholderBillAmount",
    "dateAndTimeOfTransmission":"$!dateAndTimeOfTransmission",
    "cardholderBillingEexchangeRate":"$!cardholderBillingExchangeRate",
    "systemAuditNumber":"$!systemAuditNumber",
    "dateAndTimeOfTheTransaction":"$!dateAndTimeOfTheTransaction",
    "settlementDate":"$!settlementDate",
    "exchangeDate":"$!exchangeDate",
    "businessType":"$!businessType",
    "countryCodeOfTheAcquiringOrganization":"$!countryCodeOfTheAcquiringOrganization",
    "countryCodeOftheSenderOrganization":"$!countryCodeOftheSenderOrganization",
    "servicePointDataCode":"$!servicePointDataCode",
    "functionCode":"$!functionCode",
    "identificationCodeOfTheAcquiringOrganization":"$!identificationCodeOfTheAcquiringOrganization",
    "identificationCodeOfTheSendingOrganization":"$!identificationCodeOfTheSendingOrganization",
    "referenceNumberOfTheRecovery":"$!referenceNumberOfTheRecovery",
    "currencyCodeOfTheTransaction":"$!currencyCodeOfTheTransaction",
    "currencyCodeOfTheConsolidation":"$!currencyCodeOfTheConsolidation",
    "currencyCodeOfTheCardholderInvoice":"$!currencyCodeOfTheCardholderInvoice",
    "sourceAccountNumber":"$!sourceAccountNumber",
    "destinationAccountNumber":"$!destinationAccountNumber",
    "privateAdditionalData":"$!privateAdditionalData",
    "securityCheckInformation":"$!securityCheckInformation",
    "cardAccepterTerminalId":"$!cardAccepterTerminalId",
    "identificationCodeOfCardAcceptor":"$!identificationCodeOfCardAcceptor",
    "nameAndAddressOfCardAcceptor":"$!nameAndAddressOfCardAcceptor"
    "sourceAccountType":"$!sourceAccountType"
}