{
    "RqUID":"$!RqUID",
    "referenceNumber":"$!referenceNumber",
    "ResultId":"$!ResultId",
    "StatusCode":"$!StatusCode",
    "Description":"$!Description",
    "Entity":"$!Entity", 
    "pan":"$!pan",
    "processingCode":"$!processingCode",
    "transactionAmount":"$!transactionAmount",
    "consolidationAmount":"$!consolidationAmount",
    "cardholderBillAmount":"$!cardholderBillAmount",
    "dateAndTimeOfTransmission":"$!dateAndTimeOfTransmission",
    "cardholderBillingEexchangeRate":"$!cardholderBillingExchangeRate",
    "systemAuditNumber":"$!systemAuditNumber",
    "dateAndTimeOfTheTransaction":"$!dateAndTimeOfTheTransaction",
    "settlementDate":"$!settlementDate",
    "exchangeDate":"$!exchangeDate",
    "businessType":"$!businessType",
    "countryCodeOfTheAcquiringOrganization":"$!countryCodeOfTheAcquiringOrganization",
    "countryCodeOftheSenderOrganization":"$!countryCodeOftheSenderOrganization",
    "servicePointDataCode":"$!servicePointDataCode",
    "functionCode":"$!functionCode",
    "lengthOfTheAuthorizationCode":"$!lengthOfTheAuthorizationCode",
    "identificationCodeOfTheAcquiringOrganization":"$!identificationCodeOfTheAcquiringOrganization",
    "identificationCodeOfTheSendingOrganization":"$!identificationCodeOfTheSendingOrganization",
    "referenceNumberOfTheRecovery":"$!referenceNumberOfTheRecovery",
    "authorizationCode":"$!authorizationCode",
    "actionCode":"$!actionCode",
    "currencyCodeOfTheTransaction":"$!currencyCodeOfTheTransaction",
    "currencyCodeOfTheConsolidation":"$!currencyCodeOfTheConsolidation",
    "currencyCodeOfTheCardholderInvoice":"$!currencyCodeOfTheCardholderInvoice",
    "sourceAccountNumber":"$!sourceAccountNumber",
    "destinationAccountNumber":"$!destinationAccountNumber"
}
