{
    "serviceType":"$!serviceType",
    "interfaceId":"$!interfaceId",
    "UserId":"BMCE",
    "RequestDate":"$!RequestDate",
    "UserLanguage":"$!UserLanguage",
    "FinancialInstitution":"000857",
    "ProviderLogin":"BMCE",
    "ProviderPasswd":"5ccaef0e2fbb96bbe3892d5f6d77bc331a28ff62d184cbbaeecae2f3b630d152c6089d5c7621cfc9c8849094f0167bb8e19502f6ac8a938929daf8e8e0bfc30d",
    "dateAndTimeOfTransmission":"$!dateAndTimeOfTransmission",
    "systemAuditNumber":"$!systemAuditNumber",
    "dateAndTimeOfTheTransaction":"$!dateAndTimeOfTheTransaction",
    "messageReasonCode":"$!messageReasonCode",
    "functionCode":"$!functionCode",
    "referenceNumberOfTheRecovery":"$!referenceNumberOfTheRecovery",
    "networkAction":"$!networkAction"
}